<!-- <h1>Tasks#edit</h1>

<form action = "/tasks" method="patch ">
   find which task we need
<input type="text" name="task[name]" value="homework">
<input type="text" name="task[description]" value='doing homewrok'>
<input type="submit">

</form>
 -->

<%= render 'form' %>
